.logo{
    text-align: center;
    padding: 0.2rem;
}

.nav{
    height: 20px;
}

.message{
    text-align: center;
    
}

.header{ 
    width: 100%;
    background: red;
    color: white;  
}


.middle-text{
    margin: auto;
}

.banner{ 
    text-align: center;
    margin: 10px;
    width: 100%;
    line-height: 400px;
    height: 400px; 
    background: url('../img/banner.jpg');
    background-size: 100%; 
}
.container{ 
    width: 100%;
    padding: 10px;
}

.footer{ 
    text-align: center;
    color: red;  
}
#a{ 
    width: 25%;
    height: 50px;
    float: left; 
    text-align: center; 
}
#b{ 
    width: 25%;
    height: 50px;
    float: left;  
    text-align: center; 
}
#c{ 
    width: 25%;
    height: 50px;
    float: left;  
    text-align: center; 
}
#d{ 
    width: 25%;
    height: 50px;
    float: left; 
    text-align: center;  
}
a{ 
    text-decoration: none; 
    color: white;
}